* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.location-section {
    align-items: center;
    height: 730px;
}
.location-info {
    width: 620px;
    padding: 20px;
    height: 500px;
}
.loct-1 {
    width: 120px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 124px;
    background-color: white;
    border-radius: 5px;
    
}
span {
    background-color: #4f46e5;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 8px;
    text-transform: uppercase;
}
.linkg {
    color: #6366f1;
    text-decoration: underline;
}
.link {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    text-transform: capitalize;
    font-family: Inter, sans-serif;
}
.location-links {
    gap: 5rem;
}
.location-img {
    width: 400px;
    height: 500px;
    border-radius: 10px;
}
.address-text {
    color: #423f3f80;
    font-size: 20px;
}
.add-icon {
    font-size: 20px;
    color: #000;
    margin-top: 5px;
}
.contact-btn {
    background-color: #1d4edb;
    color: #f8fafc;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: Inter, sans-serif;
    font-size: 14px;
}