.contact-location{
    margin-top: 4rem;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.location-cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    
}
.location-card{
    border: 1px solid rgb(221, 216, 216);
    padding: 6px 14px;
    box-shadow:0px 4px 4px 0px rgba(121, 121, 121, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location-cities{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: left;
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
}
.location-main h1{
font-size: 30px;
text-align: left;
margin-bottom: 1rem;
}
.location-cities h1{
  font-size: 20px;
}
.location-cities h1:first-child{
    color: #6366F1;
    text-decoration: underline;
}
.loaction-address p{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    margin-bottom: 1.3rem;
}
.location-img-right img{
    margin-left: 5rem;
    width: 25vw;
    max-height: 70vh;
  

}



@media (max-width: 768px) {
    .contact-location {
      flex-direction: column;
      gap: 3rem;
    }
  
    .location-img-right img {
      margin-left: 0;
      width: 50vw;
      max-height: 60vh;
    }
  
    .location-cards {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  
    .location-card {
      width: 80%;
      text-align: center;
    }
  
    .location-cities h1 {
      font-size: 1.2rem;
    }
  
    .blue {
      width: 100%;
      padding: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .location-main{
        padding: 0 3rem;
    }
    .location-main h1{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
    }
 
  
    .location-cities h1 {
      font-size: 1rem;
    
    }
  
    .location-card {
      width: 70%;
    }
  
    .blue {
      padding: 14px;
    }
  }